{% extends "base_generic.html" %}

{% block content %}
<h1>Statistic</h1>

  <p>The project has the following record counts:</p>
  <ul>
    <li><strong>Questions:</strong> {{ num_questions }}</li>
    <li><strong>Votes:</strong> {{ num_votes }}</li>
  </ul>


{% endblock %}
