{% extends "base_generic.html" %}

{% block content %}

<form action="" method="post" style='margin-top:40px;'>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
    
</form>
{% endblock %}
