{% extends "base_generic.html" %}

{% block content %}
    <h1>Questions List</h1>

    {% if question_list %}
    <div style='display:flex;flex-direction:column;justify-content:center;'>

      {% for poll in question_list %}
        <a class='post' href="{{ poll.get_absolute_url }}">
        <div style='display:flex;width:auto;height:200px; padding:20px;margin-bottom:10px;'>
			<img src="/static/uploads/{{ poll.upload.url }}" style='height:80%;width:auto;padding:10px;'>
			 <span style='padding:10px;'> {{ poll.question_text }}  ({{ poll.pub_date }})</span>
		</div>
		</a>
		<hr>
      {% endfor %}

    </div>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}       
{% endblock %}
