{% extends "base_generic.html" %}

{% block content %}
<style>
.main_block{width:80%;margin:0 auto; border: 1px solid black;margin-top:100px}
</style>
<div class='main_block'>
<h1>{{ question.question_text }}</h1>
<img src="/static/uploads/{{ question.upload.url }}" style='height:200px;width:auto;padding:10px;'>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
