{% extends "base_generic.html" %}

{% block content %}
<h1>{{ question.question_text }}</h1>
<img src="/static/uploads/{{ question.upload.url }}" style='height:200px;width:auto;padding:10px;'>
<p><span>max -- {{ tmax }} -- {{vmax}}</span></p>
<p><span>min -- {{ tmin }} -- {{vmin}}</span></p>

{% endblock %}
