{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ question.title }}</h1>
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% else %}
		<form action="{% url 'polls:vote' question.id %}" method="post">{% csrf_token %}
			{% for choice in question.choice_set.all %}
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
				<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
			{% endfor %}
			<input type="submit" value="Vote">
		</form>
	{% endif %}
  

{% endblock %}
