.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
body
{
	background:#cccccc;
    body {font-family: "Lato", sans-serif}
}

ul {
  list-style-type: none;
  
  background-color: #f1f1f1;
}
.menu
{
	width:120px;
}
.menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.menu li a:hover {
  background-color: #555;
  color: white;
}

h1 { font-family: "Open Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Open Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Open Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.post 
{
	border-radius:15px 0 0 15px;
	transition:0.6s;
}
.post:hover
{
	text-decoration:none;
	background:#fff;
	transition:0.6s;
}
