
*{
    box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#center_block{
    padding:20px;
    margin-top:30px;
    background-color:#1abc9c;
    height:auto;
    margin-left: 200px;
    margin-right: 200px;"
     position: relative;
}
 h1.Front {
  text-align: center;
}
img{
    height: 300px;
    width: 600px;
}
.center {display:block; margin:0 auto;}

#center_block_poll{
    margin-top: 40px;
    text-align: center;   
}
.header {
    margin-bottom: 5px;    
}
.inner_header{
}
.content {
    width: 70%; 
    float: left;
}
.inner_content{
     padding-top: 50px;
     background-color: aqua;
     min-height: 500px;
     margin:0 auto;
}
.sitebar {
    width: 30%;
    float: left
}
.inner_sitebar{
    padding-top: 100px;
    text-align: center;
}
.footer{
    margin-top: 5px;  
}

.inner_footer{
     min-height: 70px;
     background-color: aqua;  
}